@page
@using UniSelector.Web.Areas.Identity.Pages.Account.Manage
@model UniSelector.Web.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="container">
    <div class="card shadow border-0">
        <div class="card-header bg-secondary bg-gradient ml-0 py-2">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Profile</h2>
                </div>
            </div>
        </div>
        <div class="card-body bg-light p-4">
            <div class="row">
                <div class="col-md-12">
                    <partial name="_StatusMessage" for="StatusMessage" />
                    <form id="profile-form" method="post">
                        <div class="section-container">
                            <h5 class="section-title">Basic Information</h5>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Username" class="form-label"></label>
                                        <input asp-for="Username" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Input.PhoneNumber" class="form-label"></label>
                                        <input asp-for="Input.PhoneNumber" class="form-control" />
                                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button id="update-profile-button" type="submit" class="btn btn-primary">
                                    <i class="bi bi-save me-2"></i>Save Changes
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
