@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="card shadow border-0">
        <div class="card-header bg-secondary bg-gradient ml-0 py-2">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Privacy Policy</h2>
                </div>
            </div>
        </div>
        <div class="card-body bg-light p-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-container">
                        <h5 class="section-title">Our Commitment to Privacy</h5>
                        <p>Use this page to detail your site's privacy policy.</p>
                        <!-- Add more privacy policy sections here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>