@page
@model UniSelector.Web.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password Reset Confirmation";
}

<div class="container" style="margin-top: 6rem;">
    <div class="card shadow border-0">
        <div class="card-header bg-success bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">@ViewData["Title"]</h2>
                </div>
            </div>
        </div>
        <div class="card-body bg-light p-4">
            <div class="text-center">
                <i class="bi bi-check-circle-fill text-success" style="font-size: 3rem;"></i>
                <h4 class="mt-3">Password Reset Successful</h4>
                <p class="lead">Your password has been successfully reset.</p>
                <a asp-page="./Login" class="btn btn-primary mt-3">Proceed to Login</a>
            </div>
        </div>
    </div>
</div>