@model MajorVM

<div class="container" style="margin-top: 6rem;">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Major.Id != 0 ? "Update" : "Create") Major</h2>
            </div>
        </div>
    </div>
    <form method="post" class="bg-light p-3">
        <input asp-for="Major.Id" hidden />
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Major.FacultyId" class="form-label">Faculty</label>
                    <select class="form-control" id="facultySelect" asp-for="Major.FacultyId" asp-items="Model.StandardFaculties">
                        <option value="" selected disabled>--Select Faculty--</option>
                    </select>
                    <span asp-validation-for="Major.FacultyId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Major.StandardMajorId" class="form-label">Standard Major</label>
                    <select class="form-control" asp-for="Major.StandardMajorId" asp-items="Model.StandardMajors" id="standardMajorSelect">
                        <option value="" selected>--Select Standard Major--</option>
                    </select>
                    <span asp-validation-for="Major.StandardMajorId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Major.MarketDemand">Market Demand</label>
                    <select asp-for="Major.MarketDemand" class="form-control">
                        <option value="">--Select Market Demand--</option>
                        <option value="1">Very Low</option>
                        <option value="2">Low</option>
                        <option value="3">Medium</option>
                        <option value="4">High</option>
                        <option value="5">Very High</option>
                    </select>
                    <span asp-validation-for="Major.MarketDemand" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Major.AveragePrice">Avarage</label>
                    <input asp-for="Major.AveragePrice" class="form-control" />
                    <span asp-validation-for="Major.AveragePrice" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Major.Credits"></label>
                    <input asp-for="Major.Credits" class="form-control" />
                    <span asp-validation-for="Major.Credits" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Major.MinimumGrade">Minimum Grade (%)</label>
                    <input asp-for="Major.MinimumGrade" class="form-control" />
                    <span asp-validation-for="Major.MinimumGrade" class="text-danger"></span>
                </div>
            </div> 
        </div>
        <div class="row ">
            <div class="col-6 col-md-3">
                @if (Model.Major.Id == 0)
                {
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                }

            </div>
            <div class=" col-6 col-md-3">
                <a asp-controller="Major" asp-action="Index" class="btn btn-outline-primary form-control">Back To List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/GetMajors.js"></script>
    <partial name="_ValidationScriptsPartial"/>
}






