@model MajorVM


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Major.Id != 0 ? "Update" : "Create") Major</h2>
            </div>
        </div>
    </div>
    <div calss="card-body p-4">
        <form method="post" class="row" style="margin-left: 0px; margin-right: 0px;">
            <div class="border-primary p-3 bg-white">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Major.Name" class="form-control border-0 shadow" />
                    <label asp-for="Major.Name" class="ms-2 bg-white"></label>
                    <span asp-validation-for="Major.Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select class="form-control" asp-for="Major.StandardFacultyId" asp-items="Model.StandardFaculties">
                        <option value="" selected>--Select Major--</option>
                    </select>
                    <span asp-validation-for="Major.StandardFacultyId" class="text-danger"></span>
                </div>
                <div class="row ">
                    <div class="col-6 col-md-3">
                        @if (Model.Major.Id == 0)
                        {
                            <button type="submit" class="btn btn-primary form-control">Create</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        }

                    </div>
                    <div class=" col-6 col-md-3">
                        <a asp-controller="@Constants.ControllerCategory" asp-action="@Constants.ActionIndex" class="btn btn-outline-primary form-control">Back To List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>






