@model Faculty

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Id != 0 ? "Update" : "Create") Faculty</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="NameArabic"></label>
            <input asp-for="NameArabic" class="form-control" />
            <span asp-validation-for="NameArabic" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NameEnglish"></label>
            <input asp-for="NameEnglish" class="form-control" />
            <span asp-validation-for="NameEnglish" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AveragePrice"></label>
            <input asp-for="AveragePrice" class="form-control" />
            <span asp-validation-for="AveragePrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Credits"></label>
            <input asp-for="Credits" class="form-control" />
            <span asp-validation-for="Credits" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UniversityId"></label>
            <select asp-for="UniversityId" asp-items="ViewBag.UniversityList" class="form-control">
                <option disabled selected>--Select University--</option>
            </select>
            <span asp-validation-for="UniversityId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">@(Model.Id != 0 ? "Update" : "Create")</button>
        <a asp-controller="Faculty" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}